<div class="login">
  <h2>Ingresar al set de herramientas</h2>
  <p>¿Nuevo por aquí? <span>Registrarse</span></p>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input type="text" matInput placeholder="ejemplo@gmail.com" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="******" />
    </mat-form-field>
    <button mat-raised-button color="primary">Ingresar</button>
  </form>
</div>
